//色
$Palette_black: #131212;
$palette_gray: #363636a1;
$palette_bright-gray: #333333;
$palette_Light-gray: #7e7e7e;
$palette_Dark-gray: #202020;
$palette_translucent-gray: #33333380;
$palette_Overlay_gray: #272727a1;
$palette_white: #f8f9fa;
$palette_orange: #e27900;
$palette_bright-orange: #ff8906;
$palette_red: #fa514b;
$palette_yellow: #fada4b;
$palette_green: #17bf63;
$palette_bright-green: #0ee26e;

$palette_ARealReborn: #85d2ff;
$palette_Heavensward: #325ccf;
$palette_Stormblood: #cf3232;
$palette_Shadowbringers: #6c2fce;

//文字サイズ
$font_Large: 22.5px;
$font_SecondaryMedium: 17.5px;
$font_Medium: 15px;
$font_Small: 12px;

//画面サイズ(メディアクエリ)
$breakpoint_tab_lower_limit: 481px;
$breakpoint_pc_lower_limit: 767px;
