html,
body {
  margin: 0;
  padding: 0;
  //スクロールバー分を最初から除外しておく
  max-width: calc(100vw - 30px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 250ms;
}
.v-enter,
.v-leave-to {
  opacity: 0;
}

a {
  -webkit-tap-highlight-color: #00000000;
  tap-highlight-color: #00000000;
}
